@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #61e5dc;
  font-family: 'Belleza', sans-serif;
}

/* body #light {
  background-color: #61e5dc;
}

body #dark {
  background-color: #2b245c;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* App */

.container {
  max-width: 800px;
  margin: 20px auto;
  color: #2b245c;

}



/* Switch */
.switch {
  display: flex;
  /* width: 50%; */
  height: 100px;
  justify-content: center;
  align-items: center;
}


/* Button */
.btn {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  margin: 20px;
  border-radius: 4px;
  text-decoration: none;
  background: #61e5dc;
  border: 1px solid #61e5dc;
  transition: all .3s;
  box-shadow:  12px -12px 24px #52c3bb,
               -12px 12px 24px #70fffd;    
 }

 #light .btn {
  background: #61e5dc;
  box-shadow:  12px -12px 24px #52c3bb,
               -12px 12px 24px #70fffd;    
  color: #2b245c;

 }

 #dark .btn {
  background: #2b245c;
box-shadow:  12px -12px 24px #251f4e,
             -12px 12px 24px #31296a;
color: #61e5dc;

 }
 
 .btn:hover {
  border: 1px solid white;
 }
 
 .btn:active {
  box-shadow: 4px 4px 12px #c5c5c5,
              -4px -4px 12px #ffffff;
 }



/* CurrentWeather */

.weather {
  /* width: 750px; */
  border-radius: 4px;
  /* background: #61e5dc;
  box-shadow:  12px -12px 24px #52c3bb,
               -12px 12px 24px #70fffd;    margin: 20px auto 0 auto; */
  margin: 20px auto 0 auto;
  padding: 0 20px 20px 20px;
}

#light .weather {
  background: #61e5dc;
  box-shadow:  12px -12px 24px #52c3bb,
               -12px 12px 24px #70fffd;    
  color: #2b245c;

}

#dark .weather {
  border-radius: 4px;
background: #2b245c;
box-shadow:  12px -12px 24px #251f4e,
             -12px 12px 24px #31296a;
color: #61e5dc;
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city {
  font-weight: 600;
  font-size: 22px;
  line-height: 1;
  margin: 0;
  letter-spacing: 1px;
}

.weather-description {
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  margin: 0;
}

.weather-icon {
  width: 100px;
}

.temperature .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.temperature {
  font-weight: 600;
  font-size: 70px;
  width: auto;
  letter-spacing: -5px;
  margin: 10px 0;
}

.details {
  width: 20%;
  padding-left: 50px;
}

.parameter-row {
  display: flex;
  justify-content: space-between;
}

.parameter-label {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
}

.parameter-value {
  text-align: right;
  font-weight: 600;
  font-size: 12px;
}

.parameter-label.top {
  border-bottom: 1px solid #fff;
}



/* Forecast */

.title {
  font-size: 23px;
  font-weight: 700;
}

.daily-item {
  background-color: #f5f5f5;
  /* border-radius: 4px; */
  border-radius: 4px;
background: #61e5dc;
box-shadow:  6px -6px 12px #52c3bb,
           -6px 6px 12px #70fffd;
  height: 40px;
  margin: 5px;
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  padding: 5px 20px;
}

#light .daily-item {
  border-radius: 4px;
  background: #61e5dc;
  box-shadow:  6px -6px 12px #52c3bb,
             -6px 6px 12px #70fffd;
  
}

#dark .daily-item {
  border-radius: 4px;
background: #2b245c;
box-shadow:  12px -12px 24px #251f4e,
             -12px 12px 24px #31296a;
color: #61e5dc;
}


.icon-small {
  width: 40px;
}

.daily-item .day {
  cursor: inherit;
  color: #212121;
  flex: 1 1;
  font-weight: 600;
  margin-left: 15px;
}

.description {
  cursor: inherit;
  flex: 1 1;
  margin-right: 15px;
  text-align: right;
}

.min-max {
  color: #757575;
}

.daily-details-grid {
  grid-row-gap: 0;
  grid-column-gap: 15px;
  -webkit-column-gap: 15px;
  column-gap: 15px;
  display: grid;
  flex: 1 1;
  grid-template-columns: auto auto;
  padding: 5px 15px;
  row-gap: 0;
}

.daily-details-grid-item {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: space-between;
}

.daily-details-grid-item label:first-child {
  color: #757575;
}

.daily-details-grid-item label:last-child {
  color: #212121;
}